.PageAnotherContainer{

    width: 600px;
    height: 350px;
    background-color: black;
    opacity: 0.9;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 100px;
    background-image: url("src/Front/assets/BackGroundFormula.png");
     border-radius: 25px;

}
.TextAnother{
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
   font-family: "Tektur Variable", system-ui;
     letter-spacing: 4px;

}