

body {

    min-height: 100vh;
    width: 100vw;
    margin: 0;


    display: flex;


    justify-content: center;

    background-color: black;

    align-items: center;
}

.registration-container{
    background-image: url("../assets/BackGroundRegistration.png") ;
    padding: 30px;
    width: 800px;
    height: 830px;
    border-radius: 50px;

}
.form-input-row{

    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 227px;
}
.registration-label{
    padding: 15px;
}

.Button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    margin-top: -220px;
}
.reg{
    color: white;
    text-align: center;
    bottom: 210px;
    position: relative;
    font-family: "Tektur Variable", system-ui;


}


.Account {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.Sign-up{
    width: 350px;
    height: 65px;
    border-radius: 10px;
    background-color: #F0EDE5;
    color: black;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    font-family: "Tektur Variable", system-ui;


}

.Forgot-password{
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 20px;
    font-family: "Tektur Variable", system-ui;

}
.Log-in{

    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 20px;
    font-family: "Tektur Variable", system-ui;

}