

body {

    min-height: 100vh;
    width: 100vw;
    margin: 0;


    display: flex;


    justify-content: center;

    background-color: black;

    align-items: center;
}

.registration-container{
    background-image: url("../assets/BackGroundRegistration.png") ;
    padding: 30px;
    width: 450px;
    border-radius: 50px;

}
.form-input-row{

    display: flex;
    flex-direction: column;
    padding: 5px;

}
.registration-label{
    padding: 15px;
}
.Sign-up, .Log-in , .Forgot-password {

    padding: 5px ;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;


}
.Button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.reg{
    color: white;
    text-align: center;



}
/* В вашем StyleReg.css */

.Account {
    /* Если вы уменьшали размер иконки, оставьте width/height */
     width: 321px;
     height: 250px;
    position: relative;
    top: 110px;
    left: 60px;
    /* Измените этот параметр: */

}