
.testPage {
    min-height: 100vh;
    width: 100vw;
    position: relative;

    display: flex;
    overflow: hidden;

    justify-content: center;

    background-color: #000000;

    align-items: center;
}
.testPage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 100%;
    background: radial-gradient(
            circle,
            rgba(20, 182, 234, 0.2) 0%,
            rgba(8, 38, 48, 0) 70%
    ),
    radial-gradient(
            circle,
            rgba(12, 94, 225, 0.1) 0%,
            rgba(0, 190, 251, 0) 60%
    ),
    radial-gradient(
            circle,
            rgba(255, 0, 214, 0.3) 0%,
            rgba(49, 244, 6, 0) 50%
    );
    background-size: 250% 250%, 200% 200%, 150% 150%;
    background-position: 0% 0%, 20% 40%, 80% 60%;
    animation: move-background 15s linear infinite;
    filter: blur(40px);
    transform: scale(1.2);
}
@keyframes move-background {
    0% {
        background-position: 0% 0%, 20% 40%, 80% 60%;
    }
    25% {
        background-position: 10% 20%, 30% 60%, 70% 50%;
    }
    50% {
        background-position: 20% 40%, 40% 80%, 60% 40%;
    }
    75% {
        background-position: 10% 60%, 30% 40%, 70% 30%;
    }
    100% {
        background-position: 0% 0%, 20% 40%, 80% 60%;
    }
}


/* Текст зліва */
.titleText {
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Tektur Variable', monospace;
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 2px;
}

/* Основна картка */
.testCard {
    background-color: transparent;
    background-image: url("src/Front/assets/BackGroundFormula.png");
    border-radius: 20px;
    padding: 40px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: 60px;
}

/* Заголовок */
.taskHeader {
    font-family: monospace;
    color: #d0d0d0;
    font-size: 14px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

/* Червоний блок для завдання */
.taskContent {
    background-color: #6b3434;
    border-radius: 8px;
    padding: 60px 30px;
    margin-bottom: 30px;
    min-height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-family: monospace;
}

/* Контейнер для відповіді */
.answerContainer {
    position: relative;
}






.submit-button:hover {

}

/* Текст "Verify right" */
.verifyText {
    position: relative;
    bottom: 60px;
    left: 350px;
    background: transparent;
    border: none;
    cursor: pointer;
}
body{



}