.advanced-page-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.back-button-wrapper {
    display: flex;
    align-items: flex-start;
}

.contentWrapper {
    display: flex;
    gap: 50px;
    flex: 1;
}

.advanced-page-title{
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
    font-family: "Tektur Variable", system-ui;
    letter-spacing: 4px;
    position: relative;
    z-index: 1;
}

.backgroundAdvanced,
.backgroundFormulas {
    background-color: black;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
.backgroundAdvanced::before,
.backgroundFormulas::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background-image:
            radial-gradient(circle at 20% 30%, rgba(7, 142, 4, 0.6), transparent 40%),
            radial-gradient(circle at 75% 80%, rgb(255, 0, 0), transparent 35%);
            /*radial-gradient(circle at 50% 50%, rgb(255, 255, 255), transparent 30%);*/
    animation: rotate-plasma 30s linear infinite;
    filter: blur(120px);
}
@keyframes rotate-plasma {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

