.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 5px;

}


.BackGround-MainMenu{
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: black;



}
.mathematicalFormulas{
    color: white;
    text-align: center;
    position: relative;
    font-family: "Tektur Variable", system-ui;
   word-spacing: 20px;


}
.OneMain{
    text-decoration: line-through;
    color: gray;
font-family:Times New Roman, Times, serif;

}