
.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 5px;
}


.BackGround-MainMenu{
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #000000;
    position: relative;
    overflow: hidden;
}


.BackGround-MainMenu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
            circle,
            rgba(20, 182, 234, 0.2) 0%,
            rgba(8, 38, 48, 0) 70%
    ),
    radial-gradient(
            circle,
            rgba(12, 94, 225, 0.1) 0%,
            rgba(0, 190, 251, 0) 60%
    ),
    radial-gradient(
            circle,
            rgba(255, 0, 214, 0.3) 0%,
            rgba(49, 244, 6, 0) 50%
    );
    background-size: 250% 250%, 200% 200%, 150% 150%;
    background-position: 0% 0%, 20% 40%, 80% 60%;
    animation: move-background 15s linear infinite;
    filter: blur(40px);
    transform: scale(1.2);
    z-index: 0;
}


.mathematicalFormulas{
    color: white;
    text-align: center;
    position: relative;
    font-family: "Tektur Variable", system-ui;
    word-spacing: 20px;
    z-index: 1;
}


.OneMain{
    text-decoration: line-through;
    color: gray;
    font-family:Times New Roman, Times, serif;
}


@keyframes move-background {
    0% {
        background-position: 0% 0%, 20% 40%, 80% 60%;
    }
    25% {
        background-position: 10% 20%, 30% 60%, 70% 50%;
    }
    50% {
        background-position: 20% 40%, 40% 80%, 60% 40%;
    }
    75% {
        background-position: 10% 60%, 30% 40%, 70% 30%;
    }
    100% {
        background-position: 0% 0%, 20% 40%, 80% 60%;
    }
}